In [1]:
#importammos librerias
import pandas as pd
import numpy as np

# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [61]:
# Cargar los datos de los archivos CSV
#funcion para importar los datos 
rutas = {
    'oro': ['data/Datos_oro2.csv', 'data/Datos_oro.csv'],
    'platino': ['data/Datos_platino.csv'],
    'plata': ['data/Datos_plata2.csv', 'data/Datos_plata.csv'],
    'petroleo': ['data/Datos_petroleo2.csv', 'data/Datos_petroleo.csv'],
    'plomo': ['data/Datos_plomo.csv'],
    'cacao': ['data/Datos_cacao2.csv', 'data/Datos_cacao.csv'],
    'cafe': ['data/Datos_cafe2.csv', 'data/Datos_cafe.csv'],
    'paladio': ['data/Datos_paladio.csv'],
    'gas_natural': ['data/Datos_gas_natural2.csv', 'data/Datos_gas_natural.csv'],
    'cobre': ['data/Datos_cobre2.csv', 'data/Datos_cobre.csv']
}

def importar_datos(rutas):
    dfs = {}
    for key, ruta in rutas.items():
        dfs[key]= pd.concat([pd.read_csv(r, decimal=',', thousands='.') for r in ruta], axis=0)
        dfs[key].reset_index(drop=True, inplace=True)
    return dfs

In [62]:
#diccionario con los dataframes
#llamamos a la funcion
df_funcion=importar_datos(rutas)

In [63]:
#juntamos los dataframes en uno solo uniendolos por la fecha 
def unir_dataframes(df):
    for i in df:
        if i == list(df.keys())[0]:
            #si es el primer dataframe lo guardamos en df_unido
            df_unido= pd.DataFrame(df[i])
            materia_anterior = i
        else:
            df_unido=df_unido.merge(df[i], on='Fecha', how='outer')
            #renombramos las columnas para que no se repitan
            #_x es el primer dataframe y _y el segundo dataframe
            df_unido.columns = df_unido.columns.str.replace('_x','_'+materia_anterior).str.replace('_y','_'+i)
            materia_anterior = i
    return df_unido

In [64]:
df= unir_dataframes(df_funcion)

In [65]:
def convertir_fecha(df):
    # Convertir la columna 'Fecha' a tipo datetime
    # Preprocesar las fechas para añadir separadores si faltan
    df['Fecha'] = df['Fecha'].astype(str)  # Asegurarse de que la columna 'Fecha' es de tipo string
    df['Fecha'] = df['Fecha'].str.zfill(8)  # Asegurarse de que todas las fechas tengan al menos 8 caracteres
    df['Fecha'] = df['Fecha'].str.replace(r'(\d{2})(\d{2})(\d{4})', r'\1/\2/\3', regex=True)

    # Convertir la columna 'Fecha' a tipo datetime
    df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y', errors='coerce')
    #ordenamos el dataframe por la fecha
    df = df.sort_values(by='Fecha')
    #reseteamos el indice
    df = df.reset_index(drop=True)
    #hacer una columna con el dia de la semana
    df['Dia_semana'] = df['Fecha'].dt.day_name()
    return df

In [66]:
df=convertir_fecha(df)

In [8]:
df.head()

,Fecha,Último_oro,Apertura_oro,Máximo_oro,Mínimo_oro,Vol._oro,% var._oro,Último_platino,Apertura_platino,Máximo_platino,Mínimo_platino,Vol._platino,% var._platino,Último_plata,Apertura_plata,Máximo_plata,Mínimo_plata,Vol._plata,% var._plata,Último_petroleo,Apertura_petroleo,Máximo_petroleo,Mínimo_petroleo,Vol._petroleo,% var._petroleo,Último_plomo,Apertura_plomo,Máximo_plomo,Mínimo_plomo,Vol._plomo,% var._plomo,Último_cacao,Apertura_cacao,Máximo_cacao,Mínimo_cacao,Vol._cacao,% var._cacao,Último_cafe,Apertura_cafe,Máximo_cafe,Mínimo_cafe,Vol._cafe,% var._cafe,Último_paladio,Apertura_paladio,Máximo_paladio,Mínimo_paladio,Vol._paladio,% var._paladio,Último_gas_natural,Apertura_gas_natural,Máximo_gas_natural,Mínimo_gas_natural,Vol._gas_natural,% var._gas_natural,Último_cobre,Apertura_cobre,Máximo_cobre,Mínimo_cobre,Vol._cobre,% var._cobre,Dia_semana
0,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,830.0,840.0,846.0,820.0,"2,43K","-0,84%",116.50,122.25,124.00,116.10,"6,64K","-7,47%",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monday
1,2000-01-04,283.7,289.5,289.5,280.0,"21,62K","-2,04%",NaN,NaN,NaN,NaN,NaN,NaN,5.375,5.420,5.420,5.32,"27,56K","-1,43%",25.55,25.20,25.69,24.71,"74,79K","-0,20%",NaN,NaN,NaN,NaN,NaN,NaN,836.0,828.0,841.0,823.0,"1,96K","0,72%",116.25,116.25,120.50,115.75,"5,49K","-0,21%",NaN,NaN,NaN,NaN,NaN,NaN,2.176,2.130,2.20,2.130,"30,15K","-6,57%",0.8480,0.8615,0.8620,0.8450,"12,25K","-1,74%",Tuesday
2,2000-01-05,282.1,283.7,285.0,281.0,"25,45K","-0,56%",NaN,NaN,NaN,NaN,NaN,NaN,5.210,5.375,5.380,5.16,"13,52K","-3,07%",24.91,25.50,25.61,24.87,"70,94K","-2,50%",NaN,NaN,NaN,NaN,NaN,NaN,831.0,840.0,850.0,828.0,"3,98K","-0,60%",118.60,115.00,121.00,115.00,"6,17K","2,02%",NaN,NaN,NaN,NaN,NaN,NaN,2.168,2.180,2.20,2.125,"27,95K","-0,37%",0.8565,0.8450,0.8590,0.8380,"9,24K","1,00%",Wednesday
3,2000-01-06,282.4,281.6,282.8,280.2,"19,06K","0,11%",NaN,NaN,NaN,NaN,NaN,NaN,5.167,5.205,5.215,5.15,"4,73K","-0,83%",24.78,24.80,25.34,24.51,"85,25K","-0,52%",NaN,NaN,NaN,NaN,NaN,NaN,841.0,825.0,847.0,824.0,"3,45K","1,20%",116.85,119.00,121.40,116.50,"5,09K","-1,48%",NaN,NaN,NaN,NaN,NaN,NaN,2.196,2.165,2.22,2.135,"29,07K","1,29%",0.8530,0.8560,0.8565,0.8480,"6,94K","-0,41%",Thursday
4,2000-01-07,282.9,282.5,284.5,282.0,"11,27K","0,18%",NaN,NaN,NaN,NaN,NaN,NaN,5.195,5.170,5.215,5.15,"5,38K","0,54%",24.22,24.65,25.00,24.15,"91,83K","-2,26%",NaN,NaN,NaN,NaN,NaN,NaN,853.0,846.0,855.0,836.0,"5,01K","1,43%",114.15,117.25,117.75,113.80,"6,86K","-2,31%",NaN,NaN,NaN,NaN,NaN,NaN,2.173,2.195,2.23,2.155,"28,46K","-1,05%",0.8540,0.8530,0.8625,0.8495,"6,23K","0,12%",Friday

In [67]:
#Transformaciones
def limpiar_datos(df):
    #borramos la columna vol de todas las materias primas ya que no es relevante para el analisis ya que el porcentaje indica lo mismo y esta mas completo.
    df_limpio= df.drop(columns=['Vol._oro','Vol._platino','Vol._plata','Vol._petroleo','Vol._plomo','Vol._cacao','Vol._cafe','Vol._paladio','Vol._gas_natural','Vol._cobre'], axis='columns')
    return df_limpio
df_limpio= limpiar_datos(df)

In [68]:
#quitar los domingos de los datos 
def quitar_domingos(df):
    # Convertir la columna 'Dia_semana' a tipo string
    df['Dia_semana'] = df['Dia_semana'].astype(str)
    # Filtrar los datos para eliminar los domingos
    df_sin_domingos = df[df['Dia_semana'] != 'Sunday']
    return df_sin_domingos
df_sin_domingos= quitar_domingos(df_limpio)

In [90]:
#quitar filas casi vacias, cogemos los datos cuando solo hay datos de 3 materias primas y el resto son nan
def quitar_datos_casi_vacios(df):
    # Crear una copia del DataFrame para evitar modificar el original
    df_vacios = df.copy()
    # Contar el número de valores no nulos en cada fila
    conteo_no_nulos = df_vacios.notnull().sum(axis=1)
    # Filtrar las filas donde el conteo de valores no nulos es menor que 15 ya que hay 5 columnas por cada materia y si hay menos datos de 15 ha de ser festivo o un dato que no nos interese ya que no tiene valores suficientes.
    df_vacios = df_vacios[conteo_no_nulos > 20]
    #reestablecer el indice
    df_vacios=df_vacios.reset_index(drop=True)
    return df_vacios

df_sin_pocos_datos= quitar_datos_casi_vacios(df_sin_domingos)

In [91]:
#guardar el dataframe limpio en un csv
df_sin_pocos_datos.to_csv('data/dataset_recortado.csv', index=False)

In [80]:
df_sin_pocos_datos.isna().sum()

Fecha                      0
Último_oro                73
Apertura_oro              73
Máximo_oro                73
Mínimo_oro                73
% var._oro                73
Último_platino          2452
Apertura_platino        2452
Máximo_platino          2452
Mínimo_platino          2452
% var._platino          2452
Último_plata              16
Apertura_plata            16
Máximo_plata              16
Mínimo_plata              16
% var._plata              16
Último_petroleo           26
Apertura_petroleo         26
Máximo_petroleo           26
Mínimo_petroleo           26
% var._petroleo           26
Último_plomo            2334
Apertura_plomo          2334
Máximo_plomo            2334
Mínimo_plomo            2334
% var._plomo            2334
Último_cacao             113
Apertura_cacao           113
Máximo_cacao             113
Mínimo_cacao             113
% var._cacao             113
Último_cafe              109
Apertura_cafe            109
Máximo_cafe              109
Mínimo_cafe              109
% var._cafe              109
Último_paladio          2294
Apertura_paladio        2294
Máximo_paladio          2294
Mínimo_paladio          2294
% var._paladio          2294
Último_gas_natural        28
Apertura_gas_natural      28
Máximo_gas_natural        28
Mínimo_gas_natural        28
% var._gas_natural        28
Último_cobre              65
Apertura_cobre            65
Máximo_cobre              65
Mínimo_cobre              65
% var._cobre              65
Dia_semana                 0
dtype: int64

In [94]:
#rellenar los nas de antes de salir al mercado del paladio, platino y plomo 
def rellenar_datos_cortos(df):
    # Crear una copia del DataFrame para evitar modificar el original
    df_rellenado = df.copy()
    # Definir las columnas a rellenar que contengan paladio, platino y plomo
    columnas_a_rellenar = [col for col in df.columns if 'paladio' in col or 'platino' in col or 'plomo' in col]
    # Iterar sobre las columnas a rellenar
    for col in columnas_a_rellenar:
        #buscar el primer valor no nulo
        primer_valor_no_nulo = df_rellenado[col].first_valid_index()
        # Rellenar los valores NaN antes de ese valor con el primer valor no nulo encontrado
        if primer_valor_no_nulo is not None:
            valor_a_rellenar = df_rellenado[col].loc[primer_valor_no_nulo]
            df_rellenado.loc[:primer_valor_no_nulo, col] = df_rellenado.loc[:primer_valor_no_nulo, col].fillna(valor_a_rellenar)
    
    return df_rellenado

In [99]:
df_rellenado= rellenar_datos_cortos(df_sin_pocos_datos)

In [97]:
#rellenar los nas con el valor anterior de la misma columna
def rellenar_datos(df):
    # Crear una copia del DataFrame para evitar modificar el original
    df_rellenado = df.copy()
    # Rellenar los valores NaN con el valor anterior de la misma columna
    df_rellenado.fillna(method='ffill', inplace=True)
    return df_rellenado

In [ ]:
df_limpio= rellenar_datos(df_rellenado)

C:\Users\lidia\AppData\Local\Temp\ipykernel_8112\1515637895.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_rellenado.fillna(method='ffill', inplace=True)

In [102]:
df_rellenado2.isna().sum()

Fecha                   0
Último_oro              0
Apertura_oro            0
Máximo_oro              0
Mínimo_oro              0
% var._oro              0
Último_platino          0
Apertura_platino        0
Máximo_platino          0
Mínimo_platino          0
% var._platino          0
Último_plata            0
Apertura_plata          0
Máximo_plata            0
Mínimo_plata            0
% var._plata            0
Último_petroleo         0
Apertura_petroleo       0
Máximo_petroleo         0
Mínimo_petroleo         0
% var._petroleo         0
Último_plomo            0
Apertura_plomo          0
Máximo_plomo            0
Mínimo_plomo            0
% var._plomo            0
Último_cacao            0
Apertura_cacao          0
Máximo_cacao            0
Mínimo_cacao            0
% var._cacao            0
Último_cafe             0
Apertura_cafe           0
Máximo_cafe             0
Mínimo_cafe             0
% var._cafe             0
Último_paladio          0
Apertura_paladio        0
Máximo_paladio          0
Mínimo_paladio          0
% var._paladio          0
Último_gas_natural      0
Apertura_gas_natural    0
Máximo_gas_natural      0
Mínimo_gas_natural      0
% var._gas_natural      0
Último_cobre            0
Apertura_cobre          0
Máximo_cobre            0
Mínimo_cobre            0
% var._cobre            0
Dia_semana              0
dtype: int64

In [104]:
df_limpio.to_csv('data/dataset_limpio.csv', index=False)